.todo-item {
  color: rgb(34, 24, 14);
  justify-content: space-between;
  margin: 0.5em 0;
  font-weight: 700;
}

.todo-item,
.todo-item__right,
.todo-item__left {
  display: flex;
}

.todo-item__left > *,
.todo-item__right > * {
  margin: 0 0.5em;
}

.todo-item__edit {
  display: flex;
  width: 100%;
  padding: 0.5em;
  margin: 0 0.5em;
  box-shadow: 0 4px 14px 0 rgba(70, 70, 70, 0.38);
}

.todo-edit-input {
  background-color: inherit;
  outline: none;
  border: none;
  width: 100%;
}
