.todos-logic {
  width: 50%;
  background-color: rgb(194, 212, 206);
  justify-self: center;
  margin: 1em 0;
}

.todos-logic__input-section {
  margin: 0.5em;
  display: flex;
  padding: 1em;
  align-items: center;
  border-radius: calc(0.1 * 100px);
  box-shadow: 0 4px 14px 0 rgba(70, 70, 70, 0.38);
}

.todos-logic__input-section > input {
  background-color: inherit;
  width: 100%;
  outline: none;
  border: none;
}

.add-todo__btn {
  cursor: pointer;
  color: inherit;
}
