.app {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}

ul {
  list-style: none;
}

button {
  background-color: rgb(236, 205, 28);
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.25em;
}
